snippet guimenu "GUI menu item"
[guimenu]\`\`${1:name}\`\`$0
endsnippet

snippet h1 "Headings level 1"
= ${1:Title}

$0
endsnippet

snippet h2 "Headings level 2"
== ${1:Title}

$0
endsnippet

snippet h3 "Headings level 3"
=== ${1:Title}

$0
endsnippet

snippet h4 "Headings level 4"
==== ${1:Title}

$0
endsnippet

snippet desc "Multiline description item"
${1:Name}::
$0
endsnippet
