snippet slide "Reveal JS slide"


<!-- .slide: data-state="${1:normal}" id="${2:slide-id}" data-menu-title="${3:Title}" data-timing="${4:5}" -->
## $3

$0
endsnippet


snippet daily "Daily minutes"
## `date '+%a %b %d'`
- Artem:
	- Bug squad
- Cedric:
	- $0
- Jordi:
	- 
- Michele:
	- 
- Ondrej:
	- 
- Oscar:
	- 
- Ricardo:
	- Bug squad
	- 
- Vladimir:
	- 

endsnippet
